<div class="container">
  <h2>New in Smart Phones</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in iPhone</h4>
      <button class="btn btn-more">Show more in iPhone</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Show more in Samsung</button>
    </app-product>
    <app-product>
      <h4 class="title">New in OnePlus</h4>
      <button class="btn btn-more">Show more in OnePlus</button>
    </app-product>
    <app-product>
      <h4 class="title">New in MI</h4>
      <button class="btn btn-more">Show more in MI</button>
    </app-product>
  </div>
</div>