
.container{
    margin: 10px 0px;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
}
.course-container{
    display: inline-flex;
}

.course-card{
    width:220px;
    height: 320px;
    margin: 10px 10px;
    background-color: #F8F9F9;
}
.course-name{
    text-align: center;
}
.course-description{
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 12px;
}

.details{
    display: flex;
    margin: 10px 0px;
}
.course-type{
    width:50%;
    font-weight: bold;
}
.course-buttons{
    display: flex;
}
.btn{
    width: 140px;
    height: 30px;
    border: none;
    margin: 5px 3px;
}
.btn-buy{
    background-color: #EC7063;
}
.btn-show{
    background-color: #ABEBC6;
}
