<div>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
    <app-filter 
    [total]="getTotalCourses()"
    [free]="getTotalFreeCourses()"
    [premium]="getTotalPremiumCourses()"
    (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"></app-filter>
</div>

<ng-container *ngFor="let course of courses">
    <!-- courseCountRadioButton === 'All' || courseCountRadioButton === course.type -->
    <div class="course-container" *ngIf="searchText === '' || course.name.toLowerCase().includes(searchText) ">
        <div class="course-card">
            <div>
                <img [src]="course.image" style="width:220px; height:140px;">
            </div>
            <div class="course-name"><h4>{{ course.name}}</h4></div>
            <div class="course-description"><p>{{course.description.slice(0, 80)}}...</p></div>
            <div class="details">
                <div class="course-type" [ngStyle]="{color: course.type === 'Free' ? 'Green' : 'Red'}">{{course.type}}</div>
                <div class="course-price"><b>Price:</b> ${{course.price}}</div>
            </div>
            <div class="course-buttons">
                <button class="btn btn-buy">Buy Now</button>
                <button class="btn btn-show">Show Deatils</button>
            </div>
        </div>
    </div>  
</ng-container>

