<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="All" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{'All Courses('+all+')'}}</span>

    <input type="radio" name="filter" value="Free" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{'Free Courses('+free+')'}}</span>

    <input type="radio" name="filter" value="Premium" 
    [(ngModel)]="selectedRadioButtonValue" 
    (change)="onRadioButtonSelectionChanged()"/>
    <span>{{'Premium Courses('+premium+')'}}</span>

</div>
