.app-component{
    text-align: center;
    border: #bbb 2px solid;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:30px;
    margin-left: 10px;
    margin-right:10px;
}
.component-container{
    display: flex;
    text-align: center;
}
