.header{
    height: 280px;
    padding:30px 40px;
    display: flex;
    background-color: #fff;
}
.site-slogan{
    width: 420px;
    margin-left: 50px;
    text-align: center;
}
h2{
    font-size: 45px;
}