.product-container{
	display: flex; 
	margin: 15px 0px; 
	padding: 5px 5px;
	border-radius: 5px;
}
.image-container{
	background-color: #fff; 
	height: 70px; 
	width: 70px; 
	padding: 10px 0px; 
	text-align: center;
}
.detailContainer{
	display: flex; 
	margin: 0px 20px;
}
.name-container{
	margin: 0px 20px
}
.details{
	width: 140px; 
}
.options{
	width: 220px;
	margin-left: 80px;
}
.btn{
	border-radius: none;
	margin: 0px 5px;
	padding: 2px 10px;
	font-size: 12px;
}
.changeBackground{
	background-color: #D5F5E3;
}