<div class="course-container">
    <div>
        <img src="{{course.image}}" width="560" height="280">
    </div>
    <div>
        <h1 style="text-align: center;">{{course.name}}</h1>
    </div>
    <div class="course-details">
        <div style="margin: 0px 10px;"><b>Author: </b>{{course.author}}</div>
        <div style="margin: 0px 10px;"><b>Duration: </b>{{course.duration}}</div>
        <div style="margin: 0px 10px;"><b>Type: </b>{{course.type}}</div>
    </div>
    <div style="margin: 0px 10px;">
        <h2>Price: {{course.price}}$</h2>
    </div>
    <div style="margin: 20px 10px;">
        <p>{{course.description}}</p>
    </div>
</div>
