.container{
    width: 640px;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: #f7f7f7;
    font-family: 'Lucida Sans';
}
.user-div{
    display: flex;
    margin: 5px 0px;
}
.user-name{
    width:70%;
    padding: 10px 30px;
    background-color: #eee;
}
.user-status{
    width:10%;
    padding: 10px 40px;
    background-color: #FADBD8;
}
.status-btn{
    width:10%;
    margin: 0px 10px;
}
