.navbar{
    display: flex;
    background-color: #F5B041;
}
.site-name{
    padding: 0px 30px;
    color:#E74C3C;
}
.site-menu{
    padding: 0px 30px;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color:#212F3D;
    margin: 0px 10px;
}